@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --heading-font: "Open Sans", sans-serif;
    --body-font: "Nunito", sans-serif;
    --primary-color: #8454F5;
    --secondary-color: #FFC556;
}

body {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

.btn-custom,
.btn-custom:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Banner */
.banner {
    h1 {
        font-size: 60px;
        font-family: var(--heading-font);
        font-weight: 700;

        /* Responsive for Medium Devices */
        @media (max-width: 991.98px) {
            margin-top: 50px;
        }
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin-top: 50px;
        padding-left: 20px;
        border-left: 5px solid var(--secondary-color);
    }


    form {
        background-color: rgba(132, 84, 245, 0.15);
        border-radius: 10px;
        max-width: 520px;
        margin-top: 50px;

        input {
            height: 65px;
            background-color: transparent;
            padding: 0 20px;
        }

        button {
            width: 160px;
            margin-right: 10px;
            height: 45px;
        }
    }
}


/* Services */
.services {
    padding: 120px 0;
    background-color: #FFFCF7;

    .section-heading {
        margin-bottom: 80px;

        h2 {
            font-size: 60px;
            font-family: var(--heading-font);
            font-weight: 700;
            padding: 0;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            padding-left: 20px;
            border-left: 5px solid var(--secondary-color);
        }
    }

    .service-item {
        padding: 25px;
        border-radius: 25px;
        background-color: #fff;
        border: 1px solid rgba(132, 84, 245, 0.4);

        .item-title {
            
            i {
                width: 60px;
                height: 60px;
                border-radius: 15px;
                background-color: rgba(254, 196, 95, 0.15);
                color: #FEC35F;
                font-size: 34px;
            }

            h4 {
                font-size: 28px;
                font-weight: 700;
                padding-left: 15px;
            }
        }

        p {
            font-size: 18px;
            line-height: 28px;
            margin-top: 16px;
            margin-bottom: 28px;
        }

        a {
            font-size: 20px;
            font-weight: 600;
            color: #29313D;
        }

        &:hover {
            background-color: #FEC35F;

            .item-title {
                i {
                    background-color: rgba(252, 252, 254, 0.15);
                    color: #fff;
                }

                h4 {
                    color: #fff;
                }
            }

            p,
            a {
                color: #fff;
            }
        }


        /* color-beguni */

        &.color-beguni {
            .item-title {
                
                i {
                    background-color: rgba(132, 84, 245, 0.15);
                    color: #8454F5;
                }
            }

            &:hover {
                background-color: #8454F5;

                .item-title {
                    i {
                        background-color: rgba(252, 252, 254, 0.15);
                        color: #fff;
                    }

                }
            }
        }

        /* Color-green */
        &.color-green {
            .item-title {
                
                i {
                    background-color: rgba(117, 186, 82, 0.15);
                    color: #74BA52;
                }
            }

            &:hover {
                background-color: #74BA52;

                .item-title {
                    i {
                        background-color: rgba(252, 252, 254, 0.15);
                        color: #fff;
                    }

                }
            }
        }

    }
}


/* Plan */
.plan {
    padding: 120px 0;
    background-color: rgba(219, 204, 252, 0.45);

    .section-title {
        text-align: center;
        margin-bottom: 160px;

        @media (max-width: 991.98px) {
            margin-bottom: 50px;
        }

        h2 {
            font-size: 60px;
            font-family: var(--heading-font);
            font-weight: 700;
            padding: 0;
            max-width: 700px;
            margin: 0 auto;
        }

        .duraton {
            margin-top: 30px;
            display: inline-flex;
            align-items: center;

            span {
                display: block;
                font-size: 28px;
                line-height: 38px;
                font-weight: 700;
                margin: 0 25px;
            }

            .switch {
                label {
                    position: relative;
                    width: 80px;
                    height: 40px;
                    border-radius: 40px;
                    background-color: var(--primary-color);
                    transition: all ease .3s;

                    &::before {
                        content: '';
                        width: 30px;
                        height: 30px;
                        background-color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        transition: all ease .3s;
                    }
                }

                input:checked {
                    &+label{
                        background-color: var(--secondary-color);

                        &::before {
                            right: 5px;
                            left: auto;
                        }
                    }
                }
            }
        }
    }

    .plan-item {
        
        padding: 45px;
        border-radius: 30px;

        @media (max-width: 991.98px) {
            background-color: #fff;
        }

        h4 {
            font-size: 36px;
            line-height: 46px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                color: #545A64;
                margin-bottom: 20px;

                i {
                    margin-right: 15px;
                }

                span:last-child {
                    margin-left: auto;
                    font-weight: 700;
                    color: #8454F5;
                }
            }
        }

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 165px;
            height: 60px;
            border-radius: 15px;
            font-size: 20px;
            font-weight: 600;
            background-color: rgba(132, 84, 245, 0.15);
            color: #8454F5;
        }

        &.highlight {
            background-color: #181059;
            /* margin-top: -80px; */
            transform: translateY(-80px);

            @media (max-width: 991.98px) {
                transform: translateY(0);
            }

            h4,
            i,
            span,
            a {
                color: #fff !important;
            }

            a {
                background-color: #8454F5;
            }
        }

        &.gradient-to-right {
            background-image: linear-gradient(to right, #fff, transparent);
        }

        &.gradient-to-left {
            background-image: linear-gradient(to left, #fff, transparent);
        }
    }
}


.circle {
    position: relative;
    width: 100px;
    height: 100px;
    /* background-color: #74BA52; */
    background-image: conic-gradient(#8454F5 0% 70%, #666 70% 100%);
    border-radius: 50%;

    .circle-inner {
        width: 70px;
        height: 70px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 45px;
            color: var(--primary-color);
        }
    }
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid red;
}


